@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-semibold;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

/* Sign Up */
.signup {
    display: flex;
    height: 100%;
}
.signup .left {
    flex: 1;
    background-color: #3366FF;
}
.signup .right {
    flex: 1;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.signup .right .right-wrapper{
    max-width: 315px;
    text-align: left;
    box-sizing: border-box;
    margin: 200px 300px;
    justify-content: center;
    align-items: center;
}
.signup .right .heading {
    font-family: poppins-bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.signup .right .heading .blue {
    color: #3366FF;
}
.signup .right .heading .pink {
    color: #FC1055;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    text-align: left;
}
.data h1 {
    font-family: poppins-bold;
    font-size: 24px;
}
.data .subheading {
    font-family: poppins;
    font-size: 14px;
}
.data .subheading .subheading2 {
    color: #3366FF;
}
.data form {
    max-width: 315px;
    justify-content: center;
    padding: 5px 10px;
}
.data form .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 40px;
}
.data form .form .name, .data form .form .email, .data form .form .password, .data form .form .confirm{
    height: 40px;
    padding: 15px 50px;
    letter-spacing: 1px;
    border-radius: 10px;
    border-color: #C1C5D0;
}
.data .button {
    box-sizing: border-box;
    margin-top: 250px;
    padding: 15px 75px;
    max-width: 335px;
    font-family: poppins-bold;
    border-radius: 10px;
    color: #ffff;
    background-color: #3366FF;
    border-style: hidden;
}

/* Homepage */
.homepage{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 768px){
    .navigation-bar{
        height: unset;
        flex-direction: column;
    }
    .navigation-bar .menu-bar{
        flex-direction: column;
        text-align: center;
    }
    .navigation-bar .button{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .navigation-bar .button button{
        width: 100% !important;
    }
}


.navigation-bar .logo {
    font-family: poppins-bold;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.navigation-bar .blue {
    color: #3366FF;
}
.navigation-bar .pink {
    color: #FC1055;
}
.navigation-bar .menu-bar {
    font-family: poppins-bold;
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.navigation-bar button {
    border-radius: 5px;
    border: none;
    font-family: poppins-bold;
    height: 40px;
    padding: 10px 50px;
    text-align: center;
}
.navigation-bar .button{
    display: flex;
    padding: 20px 40px;
    text-align: center;
}
.navigation-bar .login {
    border-style: none;
    background-color: #ffff;
    flex: 1;
}
.navigation-bar .signup{
    background-color: #3366FF;
    flex: 1;
    color: #ffff;
}

.head{
    height: 750px;
    background-color: #3366FF;
    background-image: url(./images/bubble-accent.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}
.head-event{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
}
.head-event .event{
    background-color: #FFCFDB;
    padding: 6px 30px 6px 70px;
    font-family: poppins;
    letter-spacing: 3px;
    border-style: hidden;
    color: #FC1055;
    border-radius: 20px;
}
.head-event h1{
    font-family: poppins-bold;
}

.date{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    font-size: 14px;
    color: grey;
    padding: 5px;
}
.date .selected{
    border: 1px solid #FF8900;
    border-radius: 15px;
    color: #FF8900;
    padding: 0 5px 10px 5px;
}

.event-list{
    position: relative;
    display: flex;
    gap: 15px;
    margin-top: 100px;
    overflow-x: scroll;
}
.events-display{
    width: 270px;
    height: 386px;
    background-color: #3366FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}
.events-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.events-display .event-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent, black);
    justify-content: flex-end;
    padding: 25px;
    box-sizing: border-box;
    color: white;
    gap: 24px;
}
.events-display .event-details .event-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.events-display .event-details div:first-child{
    font-size: 14px;
}
.events-display .event-details div:nth-child(2){
    font-size: 22px;
    font-family: poppins-bold;
}
.events-display .event-details .person{
    display: flex;
}
.events-display .event-details .person div{
    height: 28px;
    width: 28px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid white;
}
.events-display .event-details .person div:not(:first-child){
    margin-left: -5px;
}
.events-display .event-details .person div:last-child{
    position: relative;
}
.events-display .event-details .person div:last-child::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7a240a8;
}
.events-display .event-details .person div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.location {
    background-color: #3366FF;
    height: 700px;
    background-image: url(./images/bubble-accent.png);
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
    justify-content: space-around;
    overflow-x: auto;
}
.location .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location .container {
    display: flex;
    font-family: poppins;
    letter-spacing: 2px;
    color: #ffff;
    text-align: center;
    justify-content: space-between;

}
.location .container .header{
    text-align: left;
    max-width: 230px;
}
.location .container .header .title{
    max-width: 200px;
    text-align: center;
    justify-content: center;
    padding: 6px 30px 6px 70px;
    font-family: poppins;
    letter-spacing: 3px;
    border-style: hidden;
    border-radius: 20px;
    color: #ffff;
    background-color: #ffffff83;
}
.location .container-2 {
    display: flex;
    font-family: poppins;
    letter-spacing: 2px;
    color: #ffff;
    text-align: center;
    justify-content: space-between;
}
.location .see-all{
    background-color: #ffff;
    color: #3366FF;
    padding: 10px 100px;
    border-style: hidden;
    font-family: poppins-bold;
    letter-spacing: 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 255px;
}

.head-category {
    position: relative;
    margin:250px 0 0 0;
    text-align: center;
}
.head-category .header{
    background-color: #FFCFDB;
    padding: 6px 30px 6px 70px;
    font-family: poppins;
    letter-spacing: 3px;
    border-style: hidden;
    color: #FC1055;
    border-radius: 20px;
}
.head-category h1{
    font-family: poppins-bold;
    color: rgba(0, 0, 0, 0.705);
}
.category-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px 60px;
    font-family: poppins;
    color: #C1C5D0;
}
.category-box{
    position: relative;
    display: flex;
    gap: 75px;
    margin-top: 100px;
    overflow-x: scroll;
    justify-content: center;
}
.category-display{
    width: 300px;
    height: 386px;
    background-color: #3366FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}
.category-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-display .event-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, solid, #3366FF);
    justify-content: flex-end;
    padding: 25px;
    box-sizing: border-box;
    color: white;
    gap: 24px;
}
.category-display .category-details .category-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.category-display .category-details div:first-child{
    font-size: 14px;
}
.category-display .category-details div:nth-child(2){
    font-size: 22px;
    font-family: poppins-bold;
}
.category-display .category-details .person{
    display: flex;
}
.category-display .category-details .person div{
    height: 28px;
    width: 28px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid white;
}
.category-display .category-details .person div:not(:first-child){
    margin-left: -5px;
}
.category-display .category-details .person div:last-child{
    position: relative;
}
.category-display .category-details .person div:last-child::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7a240a8;
}
.category-display .category-details .person div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.partner{
    text-align: center;
    font-family: poppins;
    margin:200px 0 0 0;
    height: 450px;
    background-image: url(./images/bubble-accent.png);
    background-color: #24252b;
    color: #ffff;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 3px;
    overflow-x: auto;
}
.partner .header{
    max-width: 200px;
    text-align: center;
    justify-content: center;
    padding: 6px 30px 6px 70px;
    font-family: poppins;
    letter-spacing: 3px;
    border-style: hidden;
    border-radius: 20px;
    color: #ffff;
    background-color: #373a4262;
}
.partner p{
    letter-spacing: 0;
    color: #C1C5D0;
}
.partner .brand{
    display: flex;
    justify-content: space-between;
    padding: 70px 350px;
}

.footer {
    justify-content: center;
}
.footer .container{
    margin: 159px 218px;
    position: relative;
    top: 100px;
    height: 328px;
    display: flex;
    gap: 100px;
}
.footer .container .header .logo {
    font-family: poppins-bold;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: left;
}
.footer .container .header .logo .blue {
    color: #3366FF;
}
.footer .container .header .logo .pink {
    color: #FC1055;
}
.footer .container .header .caption {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: poppins-bold;
    max-width: 257px;
}
.footer .container .content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 150px;
    font-family: poppins-bold;
    font-size: 16px;
    max-width: 270px;
    background-color: white;
}
.footer .container .content div:first-child{
    display: flex;
    flex-direction: column;
}
.footer .container .content p{
    font-family: poppins;
    color: #C1C5D0;
    font-size: 14px;
}

/* Booking Page */
.booking-page{
    display: flex;
    flex-direction: column;
}
.navigation-bar-2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
}
.navigation-bar-2 .logo {
    font-family: poppins-bold;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
.navigation-bar-2 .blue {
color: #3366FF;
}
.navigation-bar-2 .pink {
    color: #FC1055;
}
.navigation-bar-2 .menu-bar {
    font-family: poppins-bold;
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.navigation-bar-2 .name-profile{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}
.navigation-bar-2 .name-profile img{
    width: 55px;
    height: 55px;
    border-radius: 27px;
    border: 1px solid #3366FF;
}
.navigation-bar-2 .name-profile p{
    font-family: poppins-bold;
}

.content{
    background-color: #F4F7FF;
    height: 1560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .container{
    background-color: #ffffff;
    height: 850px;
    max-width: 1186px;
    border-radius: 40px;
    display: flex;
    margin-top: 60px;
    width: 100%;
}
.content .container .stadium{
    flex: 1;
    max-width: 600px;
    width: 50%;
}
.content .container .booking-ticket{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    width: 50%;
}
.content .container .booking-ticket .wrapper {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 20px;
}
.content .container .booking-ticket .title{
    display: flex;
    justify-content: space-between;
    font-family: poppins-semibold;
    gap: 200px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    padding-top: 50px;
    width: 100%;
}
.content .container .booking-ticket .title .by-price{
    display: flex;
    gap: 20px;
    color: #FC1055;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    align-items: center;
}
.content .container .booking-ticket .ticket-list{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.content .container .booking-ticket .ticket-1 .details{
    display: flex;
    justify-content: space-between;
    font-family: poppins-semibold;
    text-transform: uppercase;
}
.content .container .booking-ticket .ticket-1 .details img{
    padding: 10px;
    background-color: #F4F7FF;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.content .container .booking-ticket .ticket-1 .details .red{
    background-color: #FFEAEF;
}
.content .container .booking-ticket .ticket-1 .details .orange{
    background-color: #FFF4E7;
}
.content .container .booking-ticket .ticket-1 .details .details-name div:last-child{
    font-size: 12px;
    color: #C1C5D0;
    text-transform: none;
}
.content .container .booking-ticket .ticket-1 .quantity{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: poppins-semibold;
}
.content .container .booking-ticket .ticket-1 .quantity .title{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.content .container .booking-ticket .ticket-1 .quantity .total{
    display: flex;
    gap: 25px;
    text-align: center;
    align-items: center;
}
.content .container .booking-ticket .ticket-1 .quantity .total button{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    border-color: #c1c5d03f;
}
.content .container .booking-ticket .booking-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.199);
    padding-top: 20px;
    width: 100%;
}
.content .container .booking-ticket .booking-details .row-1{
    display: flex;
    justify-content: space-between;
    font-family: poppins-semibold;
}
.content .container .booking-ticket .booking-details .row-1 div{
    flex: 1;
}
.content .container .booking-ticket .booking-details .row-1 .details{
    text-align: right;
    color: #3366FF;
}
.content .container .booking-ticket button{
    font-family: poppins-semibold;
    color: white;
    background-color: #3366FF;
    padding: 16px 110px;
    letter-spacing: 1px;
    max-width: 315px;
    border: 1px transparent;
    border-radius: 10px;
}
.content .footer-booking .container-booking{
    background-color: #F4F7FF;
    max-width: 930px;
    display: flex;
    gap: 100px;
    text-align: center;
    padding-top: 50px;
}
.content .footer-booking .container-booking .header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.content .footer-booking .container-booking .header .caption{
    font-family: poppins-bold;
}
.content .footer-booking .container-booking .header .logo{
    font-family: poppins-bold;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: left;
}
.content .footer-booking .container-booking .header .logo .blue{
    color: #3366FF;
}
.content .footer-booking .container-booking .header .logo .pink{
    color: #FC1055;
}
.content .footer-booking .container-booking .menu-bar{
    display: flex;
    gap: 75px;
    text-align: left;
    color: #C1C5D0;
    font-family: poppins;
    letter-spacing: 2px;
}
.content .footer-booking .container-booking .menu-bar .select{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content .footer-booking .container-booking .menu-bar .select .title{
    color: black;
    font-family: poppins-bold;
    letter-spacing: 1px;
}

/* Payment Page */

.content .container .payment-method, .content .container .ticket-details{
    flex: 1;
    padding: 71px 90px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.content .container .payment-method .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 375px;
}
.content .container .payment-method .wrapper div:first-child{
    font-family: poppins-bold;
    padding-left: 21px;
    padding-bottom: 20px;
}
.content .container .payment-method .details{
    display: flex;
    justify-content: left;
    gap: 20px;
    font-size: 16px;
    max-width: 315px;
    font-family: poppins-semibold;
    text-align: center;
    align-items: center;
}
.content .container .payment-method .details span{
    width: 120px;
    padding: 0;
}
.content .container .payment-method .details .icon{
    padding: 10px;
    background-color: #E7DBFF;
    border-radius: 10px;
}
.content .container .payment-method .details .arrow{
    padding-left: 100px;
}
.content .container .payment-method .card{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
    gap: 50px;
}
.content .container .payment-method .card .plus{
    padding: 10px;
    color: #3366FF;
    background-color: white;
    border: 1px dashed #3366FF;
    border-radius: 5px;
}
.content .container .ticket-details {
    max-width: 363px;
    display: flex;
    flex-direction: column;
    gap: 55px;    
}
.content .container .ticket-details .wrapper{
    max-width: 363px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content .container .ticket-details .wrapper div:first-child{
    font-family: poppins-bold;
    color: black;
}
.content .container .ticket-details .data .details{
    display: flex;
    justify-content: space-between;
    font-family: poppins-bold;
    font-size: 14px;
    color: #3366FF;
    margin-bottom: 10px;
}
.content .container .ticket-details .payment{
    padding: 16px 106px;
    border: transparent;
    color: white;
    background-color: #3366FF;
    border-radius: 15px;
    font-family: poppins-semibold;
    letter-spacing: 2px;
}

/* Profile Page */

.core{
    background-color: #F4F7FF;
    height: 1560px;
}
.core .row{
    display: flex;
    padding-top: 50px;
    gap: 60px;
}
.core .row .container{
    background-color: #ffffff;
    height: 850px;
    max-width: auto;
    width: 100%;
    border-radius: 40px;
    display: flex;
    margin-right: 50px;
}
.core .row .menu{
    max-width: 280px;
    padding-left: 70px;
    padding-right: 58px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.core .row .menu .biodata{
    display: flex;
    max-width: 280px;
    gap: 20px;
    font-family: poppins;
}
.core .row .menu .biodata img{
    width: 55px;
    height: 55px;
    border-radius: 27px;
    border: 2px solid #3366FF;
}
.core .row .menu .biodata .name{
    max-width: 242px;
    width: 100%;
    font-size: 16px;
    list-style: none;
}
.core .row .menu .biodata .name li:first-child{
    font-family: poppins-semibold;
}
.core .row .menu .list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: poppins-semibold;
    list-style: none;
    letter-spacing: 1px;
}
.core .row .menu .list .choice{
    display: flex;
    gap: 30px;
}
.core .row .menu .list div:nth-child(2), .core .row .menu .list div:nth-child(3), .core .row .menu .list div:nth-child(4){
    padding-left: 35px;
}
.core .row .menu .list div:nth-child(3){
    color: #3366FF;
}
.core .row .menu .list div:last-child{
    color: red;
}

.core .row .container .profile-list, .core .row .container .profile-picture{
    height: 100%;
    flex: 1;
}
.core .row .container .profile-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-left: 50px;
    font-family: poppins-bold;
}
.core .row .container .profile-list .header{
    font-size: 20px;
}
.core .row .container .profile-list .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: poppins-semibold;
    padding: 0 50px;
}
.core .row .container .profile-list .list .details{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    
}
.core .row .container .profile-list .list .details input{
    border: none;
    font-family: poppins;
}
.core .row .container .profile-list .list .details input:first-child{
    border: 1px solid grey;
    font-family: poppins;
}